.mail2all-mail-data {
    border: 1px solid #EEEEEE;
    margin: 1em 0;
    padding: 10px;
    width: 50%;
}

.mail2all-mail-data .mail2all-field .mail2all-label {
  font-weight: bold;
  display: inline;
  color: #666;
}

.mail2all-mail-data .mail2all-field-subject, .mail2all-field-subject {
  color: #000;
  font-weight: bold;
}

.mail2all-mail .mail2all-field-footer {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #eee;
}
